/* Texto azul */
.azul {
    color: blue;
}

/* Texto rojo */
.rojo {
    color: red;
}

/* Texto naranja */
.naranja {
    color: orange;
}

/* Texto con fondo verde */
.fondo-verde {
    background-color: lightgreen;
    padding: 6px;
}
