body{

font-size: 16px;
font-family: Roboto, "Arial";
color: #444;
line-height: 1.6;


}


h1{
    font-family: Georgia, serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}


p.intro{
    font-size: 14px;
    font-style: italic;
    color: #666;
}


h2{
    font-family: Verdana;
    font-size: 24px;
    color: #007acc;
    text-decoration: dashed underline;

}


p.text1{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;


}


blockquote.highlight{
    font-family: sans-serif;
    color: #2a7a1f;
    background-color:  #f0f8f8;
    margin-left: auto;
    border-left: 3px solid #2a7a1f;

   
}

p.text2{
    font-weight: bold;
    font-size: 16px ;
    letter-spacing: 1px;
    color: #444;
}

footer{
    font-size: 12px;
    text-align: center;
    color: #888;
}