/* Primera sección: tamaño fijo */
.fijo {
    width: 200px;
    height: 150px;
    background-color: #a3d5ff; /* color visible */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Segunda sección: ancho porcentual */
.porcentaje {
    width: 50%;       /* 50% del contenedor */
    height: 100px;
    background-color: #ffd6a5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.minmax {
    width: 300px;         /* ancho fijo */
    min-height: 100px;    /* altura mínima */
    max-height: 200px;    /* altura máxima */
    background-color: #caffbf;
    padding: 10px;
    overflow: auto;       /* para ver el efecto si el texto crece */
    display: flex;
    justify-content: center;
    align-items: center;
}
